* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(10, 34, 70);
  font-family: "Poppins", sans-serif;
  perspective: 1000px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.card {
  background-color: rgb(255, 255, 255);
  max-height: 100vh;
  padding: 1rem 2rem;
  width: 25rem;
  border-radius: 30px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4),
              0px 0px 50px rgba(0, 0, 0, 0.4);
  transform-style: preserve-3d;
}

.sneaker {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 25vh;
}

.sneaker img {
  position: absolute;
  top: 55px;
  width: 15rem;
  height: 8rem;
  z-index: 2;
}

.circle {
  position: absolute;
  z-index: 1;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    rgba(245, 70, 66, 0.75),
    rgba(8, 83, 156, 0.75)
  );
}

.info h1 {
  margin-top: 3.5rem;
  font-size: 2.5rem;
}

.info h3 {
  font-size: 1rem;
  font-weight: lighter;
  text-transform: uppercase;
  padding: 1rem 0rem;
  color: #585858;
}

.sizes {
  display: flex;
  justify-content: space-between;
}

.sizes button {
  padding: 0.5rem 1.8rem;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  background: none;
  color: #424242;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

button.active {
  background-color: #585858;
  color: white;
}

.purchase {
  margin: 1.5rem 0rem;
}

.purchase button {
  width: 100%;
  padding: 1rem 0rem;
  font-weight: bolder;
  background-color: #f54642;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}